.button{
    background-color: var(--orangeOpaque);
    color: white;
    border-radius: 5px;
}
.button:hover{
    color: white;
    border-color: var(--orange);
    background-color: var(--orange);
}

.description{
    width: 85%;
    background-color: #f0f0f0;
}
.descriptionRow{
    margin-top: 30px;
    display: block;
}
.formContainer {
  margin-top: 370px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.inputName{
    width: 85%;
    background-color: #f0f0f0;
}

.pageTitleContainer {
  background-color: var(--orangeOpaque);
  height: 347px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
