body {
  font-family: "Century Gothic", sans-serif;
  --orange: #f79812;
  --orangeOpaque: rgba(247, 152, 18, 0.85);
  --red: #ff0000;
  --redOpaque: rgba(235, 87, 87, 0.35);
  --green: #6fcf97;
  --greenOpaque: rgba(33, 150, 83, 0.2);
  --blue: #2d9cdb;
  --blueOpaque: rgba(47, 128, 237, 0.35);
}
.button {
  background-color: var(--orangeOpaque);
  color: white;
  border-radius: 5px;
}
.button:hover {
  color: white;
  border-color: var(--orange);
  background-color: var(--orange);
}
.button:focus {
  color: white;
  border-color: var(--orange);
  background-color: var(--orange);
}

.errorTicket {
  background-color: var(--redOpaque);
  color: var(--red);
}

.layout {
  background-color: white;
}
.home-client-name {
  font-size: 14px;
  color: #808080;
  margin-left: auto;
}
div.ant-typography {
  margin-bottom: 0px;
}
.home-complete-button {
}

.home__pageTitleContainer {
  background-color: var(--orangeOpaque);
  height: 347px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 65px;
}
.home__paginationContainer {
  margin: 0px auto 50px auto;
  position: relative;
  margin-top: 250px;
}
.home__ticketContainer {
  width: 605px;
}
.home__ticketParentContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.home-ticket-bottom-text {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
}
.ticketCard {
  width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px #e6e6e6;
}
