body {
  font-family: "Century Gothic", sans-serif;
  --orange: #f79812;
  --orangeOpaque: rgba(247, 152, 18, 0.85);
  --red: #ff0000;
  --redOpaque: rgba(235, 87, 87, 0.35);
  --green: #6fcf97;
  --greenOpaque: rgba(33, 150, 83, 0.2);
  --blue: #2d9cdb;
  --blueOpaque: rgba(47, 128, 237, 0.35);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__container {
  background-color: red;
  width: 487px;
  height: 319px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
}
